<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="dograre.mapper.UsrMapper">
    <select id="findPswByName" resultType="java.lang.String">
        select pwd from usr where usrname = #{name}
    </select>

    <select id="getIdByName" resultType="string">
        select ID from usr where usrname = #{name}
    </select>
    
    <select id="getIdByNickName" resultType="string">
        select ID from usr where nickname = #{name}
    </select>

    <select id="getUsrByID" resultType="dograre.entity.Usr">
        select * from usr where ID = #{ID}
    </select>

    <insert id="insertUsr" parameterType="dograre.entity.Usr">
        INSERT INTO usr
        (usrname,pwd,nickname)
        VALUES (
        #{usrname, jdbcType=VARCHAR},
        #{pwd, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR})
    </insert>


    <select id="getNicknameByID" resultType="java.lang.String">
        select nickname from usr where ID = #{ID}
    </select>

    <select id="getCrystalByID" resultType="int">
        select crystal from usr where ID = #{ID}
    </select>

    <select id="getCardlistByID" resultType="java.lang.String">
        select cardlist from usr where ID = #{ID}
    </select>

    <update id="setCard">
        update usr set cardlist = #{cards} where ID = #{ID}
    </update>

    <update id="setCrystal">
        update usr set crystal = #{Crystal} where ID = #{ID}
    </update>


</mapper>
